.skills{
    margin-top: -300px;
    margin-bottom: -150px;
}

.skills .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0px;
    margin-top: 50px;
}

.skills .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.skills .row .info ul{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.skills .row .info ul li{
    color:#eee;
    padding:0 1rem;
    margin: 20px;
}

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left: 0%;
   }

   body{
       padding:0;
   }

   .awards{
        margin-top: 50px;
    }

    .skills{
        margin-top: 50px;
    }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }

    .awards{
        margin-top: 50px;
    }

    .portfolio{
        margin-top: 50px;
    }

    .skills{
        margin-top: 50px;
    }

    .projects{
        margin-top: 50px;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

    .connect-item img{
        width: 50%;
    }

    .awards{
        margin-top: 50px;
    }

    .portfolio{
        margin-top: 50px;
    }

    .skills{
        margin-top: 50px;
    }

    .projects{
        margin-top: 50px;
    }

 }

 @media (max-width:1024px){
    .awards{
        margin-top: 50px;
    }

    .portfolio{
        margin-top: 50px;
    }

    .projects{
        margin-top: 10px;
    }

    .skills{
        margin-top: 10px;
    }
 }